<p>
  <% requester = User.find_by(friend_request.friend_id) %>
  Friend request from: <%= link_to requester.full_name, requester %>
  <%= link_to "Accept", friend_request_path(id: friend_request.id), method: "put" %>
  <%= link_to "Decline", friend_request_path(id: friend_request.id), method: :delete %>
</p>
