@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */
body {
  padding-top: 60px;
  background-color: #e9ebee;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

/* navbar */
.navbar-custom {
  background-color: #3B5998;
  color: #fff;
}

.navbar-custom .navbar-nav > li > a {
  color: #fff;
  float: left;
}

.dropdown-menu > li > a {
  color: #fff;
  
}

.navbar-custom .navbar-nav > p {
	float:left;
	margin-bottom: 5px;
	line-height: 12px;
}

.not_signed_in {
	margin-left: 450px;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:active {
  background-color: #355089;
}

.dropdown-toggle:active, .open .dropdown-toggle {
  background-color: #355089 !important;
}

.dropdown > ul > li > a {
  background-color: #fff;
  color: #000;
  font-weight: 200;
}

.dropdown > ul > li > a:hover {
  background-color: #3B5998;
  color: #fff;
  font-weight: 500;
}

.navbar-custom .navbar-nav > .dropdown > a .caret {
	color: #fff;
}

#logo {
	float: left;
	margin-right: 100px;
	font-size: 1.7em;
	color: #fff;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
}

/* post forms */
.post-form {
	display: table;
	margin: 0 auto;
	width: 50%;
}

.btn-primary {
  background-color: #4267b2;
  color: #fff;
  font-weight: 650;
  border: none;
  border-radius: 2px;
}

.btn-primary:hover {
  background-color: #365899;
}

/* comment forms */
.comment-form {
	display: inline-block;
	float: left;
	clear: left;
	margin-left: 35px;
}

.comment-form-gravatar {
	display: inline-block;
	float: left;
	margin-right: 5px;
}

/* posts and comments */
.post-container {
	overflow: hidden;
	clear: left;
	background-color: #fff;
	display: table;
	margin: 0 auto;
	width: 40%;
	margin-bottom: 15px;
	padding-right: 15px;
	border: 1px solid #e1e2e3;
	border-radius: 2px;
}

.post-containter + .post-container {
	margin-top:10px;
}

.comment-container {
	overflow: auto;
	margin-left: 35px;
	clear: left;
}

.post-gravatar {
	float: left;
	margin-right: 5px;
}

.comment-gravatar {
	float: left;
	margin-right: 5px;
}

.name-and-comment > p {
	display: inline-block;
	margin-top: -10px;
}

.name-and-comment {
	display: block;
	float: left;
	vertical-align: top;
	margin-bottom: -10px;
}

.likes-and-time > p {
	display: inline-block;
	margin-top: -10px;
}

.likes-and-time {
	display: block;
	float: left;
	vertical-align: top;
}

/* users index page */
.users-table-row {
	margin-bottom: 15px;
	background: #fff;
	border: 1px solid #e1e2e3;
	border-radius: 2px;
}

.users-table-row + .users-table-row {
	margin-top: 15px;
}

.users-index > table {
	border-collapse: separate;
	border-spacing: 0 10px;
}

#user-name {
	width: 250px;
	padding-left: 15px;
}


#friend-status {
	width: 75px;
	text-align: center;
}

/* user show page */
.user-show {
	text-align: center;
}
