@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */
body {
  padding-top: 10px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

/* navbar */
.navbar-custom {
  background-color: #3B5998;
  color: #fff;
}

.navbar-custom .navbar-nav > li > a {
  color: #fff;
  float: left;
}

.dropdown-menu > li > a {
  color: #fff;
  
}

.navbar-custom .navbar-nav > p {
	float:left;
	margin-bottom: 5px;
	line-height: 12px;
}

.not_signed_in {
	margin-left: 450px;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:active {
  background-color: #355089;
}

.dropdown-toggle:active, .open .dropdown-toggle {
  background-color: #355089 !important;
}

.dropdown > ul > li > a {
  background-color: #fff;
  color: #000;
  font-weight: 200;
}

.dropdown > ul > li > a:hover {
  background-color: #3B5998;
  color: #fff;
  font-weight: 500;
}

.navbar-custom .navbar-nav > .dropdown > a .caret {
	color: #fff;
}

#logo {
	float: left;
	margin-right: 100px;
	font-size: 1.7em;
	color: #fff;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
}
