@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
body {
  padding-top: 10px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

/* navbar */
.navbar-custom {
  background-color: #3B5998;
  color: #fff;
}

.navbar-custom .navbar-nav > li > a {
  color: #fff;
  float: left;
  margin-right: -10px;
}

.navbar-custom .navbar-nav > li > a:hover {
  background-color: #355089;
}

.navbar-custom .navbar-nav > .dropdown > a .caret {
	color: #fff;
}

#logo {
	float: left;
	margin-right: 140px;
	font-size: 1.7em;
	color: #fff;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
}
